.stand img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    margin-left: 70px;
}
.start{
    position: absolute;
    top: 50%;
    left: 37%;
}
.result{
    color: white;
    position: absolute;
    top: 40%;
    left: 47%;
}
.text{
    width: 56px;
    position: absolute;
    top: 6%;
    left: 10%;
    border: solid 5px black;
    border-bottom: none;
    padding-bottom: 2px;
}
.score img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
    top: 10%;
    left: 10%;
}
.pitcher img{
    width: 100px;
    object-fit: cover;
    position: absolute;
    top: 45%;
    left: 46%;
}
.batter img{
    width: 380px;
    object-fit: cover;
    position: absolute;
    top: 33%;
    left: 23%;
}
.hand{
    color: white;
    position: absolute;
    top: 100%;
    left: 47%;
}
.ball{
    color: white;
    width: 80%;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}
.straight{
    position: absolute;
    top: 8%;
    left: 47%;  
}
.fork{
    position: absolute;
    top: 30%;
    left: 47%;  
}
.ranner1 img{
    width: 100px;
    position: absolute;
    top: 48%;
    left: 87%;
}
.ranner2 img{
    width: 50px;
    position: absolute;
    top: 50%;
    left: 42%;
}
.ranner3 img{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 6%;
}
/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align:center;
  color: white;
}

/* Loading画像中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
    z-index: 999;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg{
    height: 2px;
}

/*割れる画面のアニメーション*/
.loader_cover {
    width: 100%;
    height: 50%;
    background-color: white;
    transition: all .2s cubic-bezier(.04, .435, .315, .9);
    transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}

/*========= レイアウトのためのCSS ===============*/


#container{
    width:100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a{
    color: white;
}

a:hover{
     text-decoration: none;   
}